
table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr,
td {
    padding: 20px;
    
}

table td {
    text-align: center;
    font-size: large;
}
button {
    padding: 5px;
    margin: 5px;
    border-radius: 20%;
    

}
#nike {
    background-color: black;
    color: aquamarine;
}
#adidas {
    background-color: blue;
    color: aquamarine;
}
#puma {
    color: black;
    background-color: yellowgreen;
    color: aquamarine;
}
h1 {
    text-decoration:line-through;
}
 p {
     font-size: large;
 }